# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

$skipInstall = @("#builtin", "#custom", "#na", "#pip")

$utils = Get-Content '~/.config/dotfiles/utils.json' `
  | ConvertFrom-Json `
  | Where-Object {$_.devtools -eq $true}

$toInstall = @()
$toInstallWithPip = @()
foreach ($util in $utils) {
  $name = $util.install.windows ?? $util.install.common ?? $util.name
  if ($name -eq "#pip") {
    $toInstallWithPip += $util.name
    continue
  }

  if ($name -in $skipInstall) {
    continue
  }

  $toInstall += $name
}

scoop install @toInstall

pip install @toInstallWithPip

# debugging
echo "path is $env:path"
