#!/usr/bin/env bash

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

read -r -d '' script << 'JQ'
def filter(field):
  select(field as $in | ["#builtin", "#custom"] | index($in) | not);

.[]
  | select(.personal != true)
  | filter(.install.common)
  | filter(.install.linux.common)
  | filter(.install.linux.ubuntu.common)
  | filter(.install.linux.ubuntu.{{ .chezmoi.osRelease.ubuntuCodename }})
  | .install.linux.ubuntu.{{ .chezmoi.osRelease.ubuntuCodename }} // .install.linux.ubuntu.common // .name
JQ

sudo apt-get install -y $(jq -r "$script" ~/.config/dotfiles/utils.json)
