{{- writeToStdout "dotfiles by cjw6k - see https://github.com/cjw6k/dotfiles/ for usage\n\n" -}}

{{/* feature flags */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $devtools := false -}}{{/* true if this machine should have development tools */}}
{{- $wsl := false -}}{{/* true if this machine is a WSL distro */}}

{{/* personalization */}}
{{- $gitUsername := "user" -}}
{{- $gitEmail := "user@localhost.localdomain" -}}

{{ if or (empty (env "DOTFILES_PERSONAL")) (not (has (env "DOTFILES_PERSONAL") (list true "true" false "false" 0 "0" 1 "1"))) -}}
{{    if stdinIsATTY -}}
{{-     $personal = promptBoolOnce . "is.personal" "Should this machine have personal secrets" false -}}
{{-   end -}}
{{- else -}}
{{-   $personal = has (env "DOTFILES_PERSONAL") (list true "true" 1 "1") -}}
{{- end -}}

{{ if or (empty (env "DOTFILES_DEVTOOLS")) (not (has (env "DOTFILES_DEVTOOLS") (list true "true" false "false" 0 "0" 1 "1"))) -}}
{{    if stdinIsATTY -}}
{{-     $devtools = promptBoolOnce . "is.personal" "Should this machine have development tools" false -}}
{{-   end -}}
{{- else -}}
{{-   $devtools = has (env "DOTFILES_DEVTOOLS") (list true "true" 1 "1") -}}
{{- end -}}

{{ if stdinIsATTY -}}
{{-   $gitUsername = promptStringOnce . "user.git.name" "Git global user name" -}}
{{-   $gitEmail = promptStringOnce . "user.git.email" "Git global user email address" -}}
{{- end -}}

{{/* WSL detection */}}
{{ if eq .chezmoi.os "linux" -}}
{{-  if stat "/proc/sys/fs/binfmt_misc/WSLInterop" -}}
{{-    $wsl = true -}}
{{-  end -}}
{{- end -}}

[data.is]
    personal = {{ $personal }}
    devtools = {{ $devtools }}
    wsl = {{ $wsl }}

[data.user.git]
    name = {{ $gitUsername | quote }}
    email = {{ $gitEmail | quote }}

{{ if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh"
    args = "-NoLogo"

[interpreters.ps1]
    command = "pwsh"
    args = ["-NoLogo"]
{{- end -}}
