{{- /* detect infos */}}
{{-  $isWsl := false }}
{{-  if eq .chezmoi.os "linux" }}
{{-   if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
{{-     $isWsl = true }}
{{-   end }}
{{- end }}

{{- /* prompt for infos */}}
{{- $isEphemeral := promptBool "ephemeral" -}}
{{- $isWorkstation := false -}}
{{- if not $isEphemeral }}
{{-   $isWorkstation = promptBool "workstation" }}
{{- end }}

[data]
is.ephemeral = {{ $isEphemeral }}
is.wsl = {{ $isWsl }}
is.workstation = {{ $isWorkstation }}

{{ if eq .chezmoi.os "windows" -}}
[cd]
command = "pwsh"
args = "-nologo"
{{end}}
