#!/usr/bin/env sh

# ~/.config/dotfiles/utils/dev/common.json hash:
# {{ include "private_dot_config/dotfiles/utils/dev/common.json" | sha256sum }}

# dotfiles lib.sh hash:
# {{ include "lib.sh" | sha256sum }}

{{ $version := trimPrefix "Alpine Linux " .chezmoi.osRelease.prettyName | trimPrefix "v" | regexFind "\\d+\\.\\d+|\\w+" -}}
{{ if eq $version "3.17" }}
. "$CHEZMOI_SOURCE_DIR/home/lib.sh"
{{ else }}
. "$CHEZMOI_SOURCE_DIR/lib.sh"
{{ end }}

script='
.[]
  | select(.devtools == true)
  | .install.linux.alpine."{{ trimPrefix "Alpine Linux " .chezmoi.osRelease.prettyName | trimPrefix "v" | regexFind "\\d+\\.\\d+|\\w+" }}"
    // .install.linux.alpine.common
    // .install.linux.common
    // .install.common
    // .name
  | select(. as $in | ["#builtin", "#script", "#na", "#pip"] | index($in) | not)
'

packages=$(jq -r "$script" ~/.config/dotfiles/utils/dev/common.json)
if test ! -z "$packages"; then
  sudo apk add $packages
fi

pipScript='
.[]
  | select(.devtools == true)
  | select(
    (
      .install.linux.alpine."{{ trimPrefix "Alpine Linux " .chezmoi.osRelease.prettyName | trimPrefix "v" | regexFind "\\d+\\.\\d+|\\w+" }}"
      // .install.linux.alpine.common
      // .install.linux.common
      // .install.common
    ) == "#pip"
  )
  | .name
'

packages=$(jq -r "$pipScript" ~/.config/dotfiles/utils/dev/common.json)
if test ! -z "$packages"; then
{{- if eq $version "3.19" }}
  pip install $packages --break-system-packages
{{- else }}
  pip install $packages
{{- end }}
fi
