#!/usr/bin/env sh

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

read -r -d '' script << 'JQ'
.[]
  | select(.devtools = true)
  | .install.linux.alpine.common
    // .install.linux.common
    // .install.common
    // .name
  | select(. as $in | ["#builtin", "#custom", "#na"] | index($in) | not)
JQ

sudo apk add $(jq -r "$script" ~/.config/dotfiles/utils.json)
