# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

$utils = Get-Content '~/.config/dotfiles/utils.json' `
  | ConvertFrom-Json `
  | Where-Object {$_.type -eq "default"}

$utilsToInstall = @()
foreach ($util in $utils) {
  if ($null -ne $util.alias) {
    $utilsToInstall += $util.alias
    continue
  }

  $utilsToInstall += $util.name
}

shovel install @utilsToInstall

$pipUtils = Get-Content '~/.config/dotfiles/utils.json' `
  | ConvertFrom-Json `
  | Where-Object {$_.type -eq "default"}

$pipUtilsToInstall = @()
foreach ($util in $pipUtilsToInstall) {
  if ($null -ne $util.alias) {
    $pipUtilsToInstall += $util.alias
    continue
  }

  $pipUtilsToInstall += $util.name
}

pip install $pipUtilsToInstall
