# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

$utils = Get-Content '~/.config/dotfiles/utils.json' `
  | ConvertFrom-Json `
  | Where-Object { `
    ($_.type -eq "default") `
    -or ( `
      ($_.type -eq "matrix") -and ($_.matrix.windows -eq "default") `
    ) `
  }

$toInstall = @()
foreach ($util in $utils) {
  if ($null -ne $util.alias) {
    $toInstall += $util.alias
    continue
  }

  $toInstall += $util.name
}

shovel install @toInstall
