#!/usr/bin/env bash

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

read -r -d '' script << 'JQ'
.[]
  | select(.devtools == true)
  | .install.linux.debian.{{ .chezmoi.osRelease.versionCodename }}
    // .install.linux.debian.common
    // .install.linux.common
    // .install.common
    // .name
  | select(. as $in | ["#builtin", "#custom", "#na", "#pip"] | index($in) | not)
JQ

DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends \
  $(jq -r "$script" ~/.config/dotfiles/utils.json)

read -r -d '' pipScript << 'JQ'
.[]
  | select(.devtools == true)
  | select(
    (
      .install.linux.debian.{{ .chezmoi.osRelease.versionCodename }}
      // .install.linux.debian.common
      // .install.linux.common
      // .install.common
    ) == "#pip"
  )
  | .name
JQ

packages=$(jq -r "$pipScript" ~/.config/dotfiles/utils.json)
if test ! -z "$packages"; then
  pip install $packages
fi

sudo sh -c "$(curl --location https://taskfile.dev/install.sh)" -- -d -b /usr/local/bin
