#!/usr/bin/env sh

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

apk add $(jq -r '.[] | select(.install == "default" or (.install == "matrix" and .matrix.linux.alpine == "default")) | .name' \
  ~/.config/dotfiles/utils.json)

