#!/usr/bin/env sh

{{ $version := trimPrefix "Alpine Linux " .chezmoi.osRelease.prettyName | trimPrefix "v" | regexFind "\\d+\\.\\d+|\\w+" -}}
{{ if eq $version "3.17" }}
curl -sLO https://dl.k8s.io/release/v1.30.1/bin/linux/amd64/kubectl \
  && mv ./kubectl ~/.local/bin \
  && chmod +x ~/.local/bin/kubectl
{{ end }}
