#!/usr/bin/env sh

# ~/.config/dotfiles/utils/standard.json hash:
# {{ include "private_dot_config/dotfiles/utils/standard.json" | sha256sum }}

# dotfiles lib.sh hash:
# {{ include "lib.sh" | sha256sum }}
. ./../../../lib.sh

lib_test "library function"

# the jq script variable $in is not a shell variable
# shellcheck disable=SC2016
script='
  .[]
  | .install.linux.alpine."{{ trimPrefix "Alpine Linux " .chezmoi.osRelease.prettyName | trimPrefix "v" | regexFind "\d+\.\d+|\w+" }}"
    // .installs.linux.alpine.common
    // .installs.linux.common
    // .installs.common
    // .name
  | select(. as $in | ["#builtin", "#custom", "#na"] | index($in) | not)
'

# intentional word splitting
# shellcheck disable=SC2046
sudo apk add $(jq -r "$script" ~/.config/dotfiles/utils/standard.json)
