[user]
    name = {{ .user.git.name }}
    email = {{ .user.git.email }}

[core]
    autocrlf = input
    eol = lf
    editor = nano
    pager = delta{{/* todo: not always! */}}

[pull]
    rebase = true

[interactive]
    diffFilter = delta --color-only{{/* todo: not always! */}}

[delta]
    navigate = true

[init]
    defaultBranch = main

{{ if .is.personal -}}
[url "git@github.com:{{ .user.git.name }}"]
    insteadOf = https://github.com/{{ .user.git.name }}
{{- end }}
