format = """
{{- if .is.wsl }}
${custom.wsl}\
{{- end }}
$shell\
[](fg:#3c3c3c bg:#0c0c0c)\
$cmd_duration\
$git_status\
[ ](fg:#3c3c3c bg:#333333)$git_branch[](bg:#1d1d1d fg:#333333)\
$fill\
[$git_commit$git_state$git_metrics](bg:#1d1d1d)\
[](fg:#1d1d1d) \
$line_break\
[        ]()\
([](fg:#18191e)$jobs[](fg:#18191e))\
{{- if ne .chezmoi.os "windows" }}
${custom.ghist_shortdomain}${custom.ghist}\
{{- end }}
$line_break\
{{- if eq .chezmoi.os "windows" }}
$directory\
{{- end }}
$character\
"""

{{- if ne .chezmoi.os "windows" }}
right_format = """
$directory
"""
{{- end }}

{{- if .is.wsl }}
[custom.wsl]
when = "true"
symbol = "🐚"
{{- end }}

[shell]
disabled = false
fish_indicator = '🐟'
powershell_indicator = '🚜'

[cmd_duration]
min_time = 400
show_milliseconds = true
style = "bg:#3c3c3c fg:#bbaabb"
format = "[ [Δ](fg:red bg:#3c3c3c)$duration ]($style)"

[fill]
symbol = ' '
style = 'bg:#1d1d1d'

[git_status]
style = 'bg:#3c3c3c fg:#6874f2'
format = "([{[$all_status](fg:bold #32cd32 bg:#3c3c3c)$ahead_behind}]($style))"
modified = "[ﳝ](bg:#3c3c3c fg:#da6633)"
staged = "[ﰉ](bg:#3c3c3c fg:#F2d166)"
untracked = "[ﲹ](bg:#3c3c3c fg:#a88847)"
ahead = "[ﲗ](bg:#3c3c3c fg:#d1b166)"
behind = "[ﲔ](bg:#3c3c3c fg:#ff69b4)"
stashed = "[ﭸ](bg:#3c3c3c fg:#24ffa0)"

[git_branch]
style = 'bg:#333333 fg:bold #999999'
format = '[[$symbol](bg:#333333 fg:#999999)$branch ]($style)'
truncation_length = 42

[git_metrics]
disabled = false
added_style = 'bg:#1d1d1d fg:bold green'
deleted_style = 'bg:#1d1d1d fg:bold red'

[character]
success_symbol = "[](bold #32cd32)"
error_symbol = "[](bold red)"

[directory]
truncation_symbol = "📌…/"
home_symbol = "🌱"

[jobs]
style = 'bg:#18191e fg:#6b6140'
format = '[$symbol$number]($style) '

{{ if ne .chezmoi.os "windows" }}
[custom.ghist_shortdomain]
when = "git rev-parse --git-dir && git config ghist.shortdomain"
command = "echo -n 'http://'; git config ghist.shortdomain | tr -d '\n'; echo -n '/'"
format = "[$symbol($output)]($style)"
style = 'fg:#002000'

[custom.ghist]
when = "git rev-parse --git-dir"
command = "git log --pretty=format:'%C(#002000)%h%Creset %C(dim white)%ar%Creset %C(cyan)%al%Creset %C(bold dim white)%<(72,mtrunc)%s%Creset' --color=always -n 1 | awk '{ gsub(/ {9,}/, \"\"); print }'"
format = "[($output)]($style)"
{{ end }}