format = """
{{- if .is.wsl }}
${custom.wsl}\
{{- end }}
$shell\
$cmd_duration\
$git_status\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$line_break\
$jobs\
$line_break\
{{- if eq .chezmoi.os "windows" }}
$directory\
{{- end }}
$character\
"""

{{- if ne .chezmoi.os "windows" }}
right_format = """
$directory
"""
{{- end }}

{{- if .is.wsl }}
[custom.wsl]
when = "true"
symbol = "🚀"
{{- end }}

[shell]
disabled = false
fish_indicator = '🐟'
powershell_indicator = '🚜'

[cmd_duration]
min_time = 400
show_milliseconds = true
style = "fg:#fff8dc"
format = "[[Δ](fg:red)$duration ]($style)"

[git_metrics]
disabled = false
added_style = 'fg:bold green'
deleted_style = 'fg:bold red'

[character]
success_symbol = "[](bold #32cd32)"
error_symbol = "[](bold red)"

[directory]
truncation_symbol = "📌…/"
home_symbol = "🌱"
