#!/usr/bin/env sh

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

script="
.[]
  | select(.personal != true)
  | .install.linux.alpine.common
    // .install.linux.common
    // .install.common
    // .name
  | select(. as \$in | [\"#builtin\", \"#custom\", \"#na\"] | index(\$in) | not)"

pkg install -y $(jq -r "$script" ~/.config/dotfiles/utils.json)
