#!/usr/bin/env sh

# ~/.config/dotfiles/utils.json hash:
# {{ include "private_dot_config/dotfiles/utils.json" | sha256sum }}

script="
.[]
  | select(.personal != true)
  | .install.freebsd.common
    // .install.common
    // .name
  | select(. as \$in | [\"#builtin\", \"#custom\", \"#na\"] | index(\$in) | not)"

sudo pkg install -y $(jq -r "$script" ~/.config/dotfiles/utils.json)
